.modest-footer {
  background: #3a454d;

}
.modest-footer__content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 1170px;
  min-height: 50px;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .modest-footer__content{
    width: 740px;
    justify-content:space-around;
  }

}

@media  (max-width: 766px) {
  .modest-footer__content{
    width: 300px;
    min-height: 100px;
    justify-content: space-around;
  }
  .modest-footer__content__copyright{
    max-width: 280px;
  }

}
