.modest-header{
  background-image: url(../img/header-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 560px;
  padding-left: 15%;
  padding-right: 20%;

}

.modest-header__content{

  &__info{
    position: absolute;
    top : 250px;
    padding-bottom: 20px;
  &__headline{

    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    color: white;
}
  &__text{
    margin-top: 20px;
    line-height: 1.8;
    max-width: 580px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ccd0d7;
  }
}
}

.modest-header__content__buttons {
  position: absolute;
  top : 390px;
  left: 15%;

  &__btn{
  margin: 15px 10px 0px;
  padding: 15px 15px;
  display: inline-block;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 7px;
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
  &:hover,
  &:focus {
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
    transition: .5s;
  }
}
}
